<!-- bulletin_board.html -->
<h2>Bulletin Board</h2>

<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post</button>
</form>



<ul>
    {% for message in bulletin_board_messages %}
        <li>
            <p>{{ message.content }}</p>
            {% if message.image %}
                <img src="{{ message.image.url }}" alt="Image">
            {% endif %}
            {% if message.video %}
                <video controls>
                    <source src="{{ message.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
            <p>Posted by: {{ message.author.username }}</p>
            <p>Posted at: {{ message.timestamp }}</p>
        </li>
    {% endfor %}
</ul>
