<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Hello, {{ request.user.username }}!</h1>
    <h2>Your Groups</h2>
    <ul>
        {% for membership in user_memberships %}
            <li><a href="{% url 'groups:group_detail' membership.id %}">{{ membership.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'groups:search_group' %}"><button>Search Group</button></a>
    <a href="{% url 'groups:create_group' %}"><button>Open Group</button></a>
</body>
</html>
