{% extends "base.html" %}
{% block title %}  Event List Page {% endblock title%}
{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">Event List</h1>
        <a href="{% url 'event_create' %}" class="btn btn-primary mb-3">Create Event</a>

        <ul class="list-group">
            {% for event in events %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>{{ event.name }}</span>
                        <div>
                            {% if request.user.id == event.admin_user.id %}
                                <a href="{% url 'event_edit' event.id %}" class="btn btn-sm btn-primary mr-2">Edit</a>
                            {% else %}
                                <a href="{% url 'event_edit' event.id %}" class="btn btn-sm btn-secondary">View</a>
                            {% endif %}
                            <a href="/shopping_checklist?event_id={{ event.id }}" class="btn btn-sm btn-secondary">Shopping lists</a>
                            <a href="/shopping_checklist/create?event_id={{ event.id }}" class="btn btn-sm btn-secondary">Create Shopping lists</a>

                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}