{% extends "base.html" %}
{% block title %} Edit List Page {% endblock title%}
{% block content %}
<form method="POST">
    {% csrf_token %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Shopping Checklist</h2>
                <div class="form-group">
                    {{ checklist_form.as_p }}
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Shopping Items</h2>
                {{ item_formset.management_form }}

                {% for form in item_formset %}
                {% if not forloop.last %}
                <div class="item-form row align-items-center">

                    <div class="form-group col-md-0">
                        {{ form.id }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form.quantity }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.item_name }}
                    </div>
                    <div class="form-group col-md-1">
                        {{ form.bought }}
                        <label class="form-check-label" for="{{ form.bought.id_for_label }}">Completed</label>
                   </div>
                </div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
</form>
{% endblock content %}
