{% extends "base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        {% if user.is_authenticated %}
            <h1 class="display-4">Shopping Lists for {{ user.profile.nick_name|default:user.first_name }}</h1>
            <a class="btn btn-dark btn-lg" href="{% url 'create_shopping_checklist' %}" role="button">Create a new list</a>
            <div class="row">
                {% for checklist in shopping_checklists %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ checklist }}</h5>
                            {% for item in checklist.shoppingitem_set.all %}
                            <p class="card-text">Item: {{ item.item_name }}, Quantity: {{ item.quantity }}</p>
                            {% endfor %}
                            <p class="card-text">Created By: {{ checklist.user.profile.nick_name|default:user.first_name }}</p>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <br><hr><a href="{% url 'login' %}" class="btn btn-dark">Sign in</a>
        {% endif %}
    </div>
{% endblock content %}
