{% extends "base.html" %}

{% block content %}
<div class='container'>
    <h1>Schedule <span style="color: red;">plan</span> </h2>
    <h2>ADD a new <span style="color: red;">Artist</span> or your favorite  <span style="color: red;">Band</span></h2>
    
    
    <form action="" method='POST'>


        <div>
            <label for="Day">Day:</label>
            <input type="test" id='day' name='day'>
        </div>

        <div>
            <label for="stage">Stage:</label>
            <input type="test" id='stage' name='stage'>
        </div>
        <div>
            <label for="hours">Hours:</label>
            <input type="test" id='hours' name='hours'>
        </div>

        <div>
            <label for="">Country:</label>
            <input type="test" id='country' name='country'>
        </div>

        <div>
            <label for="genre">Genre:</label>
            <input type="test" id='genre' name='genre'>
        </div>

        <div>
            <label for="firstname">Firstname:</label>
            <input type="test" id='firstname' name='firstname'>
        </div>

        <div>
            <label for="lastname">Lastname:</label>
            <input type="test" id='lastname' name='lastname'>
        </div>

    

        <input type="submit">
       

    </form>

    <p>* Wow, there are lots of artists performing! Will I see all of them?</p>
    <p>** There is no guarantee. Many artists will be performing at the same time and some areas will have limited capacities. 
        You should plan accordingly and arrive early if there’s a particular performer you really want to see. 
        Also, the lineup is always subject to change (whether due to volcanoes or any other reason).</p>
    <p>*** Set times will be posted on the Mobile App a couple of days before the festival. Lineup & Set Times subject to change.</p>

</div>


{% endblock %}


